# IDE
.idea/
.vscode/

# Java / Maven build garbage
**/target/
**/dependency-reduced-pom.xml

# Gradle build garbage
.gradle/
**/build/

# Runtime junk
**/logs/
**/cache/
**/tmp/
**/temp/

# OS files
Thumbs.db
Desktop.ini

# Binarios / JARs (Excluidos por seguridad y licencias)
**/*.jar

# Excepciones (Necesitamos el wrapper de Gradle)
!gradle/wrapper/gradle-wrapper.jar

# Submódulos obsoletos / fantasmas
wiki_temp/

# Backups de Manager
**/*.bak

# Maven portable / tooling local (no versionar)
.tools/